


.Login{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 40vh;
    margin: 15rem;
    margin-left: 30rem;
    align-items: center;
    border: 1px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:white;
}

h3{
    margin-top: 3rem;
}

.Login_inputs{
    margin-top: 1rem;
    width: 10vw;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border-style:solid;
    
}

.Login_account{
    margin-top: 1rem;
    padding-left: 1.2rem;

}

.Login_account a{
    color: rgb(55, 55, 197);
}

#Login_button{
    margin-top: 1rem;
    width: 7vw;
    height: 4vh;
    background-color: blue;
    border-radius: 2rem;
    border-style: none;
    color: white;
}

#Login_button:hover{
    cursor: pointer;
}