*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    
}



nav{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 5vh;
    background-color: rgb(33, 101, 189);
    padding: 1.35rem;
}

h1{
    margin-left: 20rem;
    font-size: 2.5rem;
    font-weight: 100;
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: 45rem;
    column-gap: 1.5rem;
}

a{
    color: white;
}

.logo_small{
    width: 3.2vw;
    height: 7vh;
    margin-top: -1.2rem;
}

